/* ===========================
   SOBRE - ESTRUTURA
=========================== */

#about-site{

    padding:70px 0;
}

.about-box{

    max-width:900px;
    margin:0 auto;
    padding:40px;
    border-radius:20px;
}